[user]
  email = jyusang@protonmail.com
  name = jyusang

[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  ignorecase = false

[init]
  defaultBranch = main

[alias]
  save = ! git add --all && git commit --message 'SAVEPOINT'
  undo = reset HEAD~1 --mixed
  cloc = ! git grep -Il '' | xargs wc -l | sort
  bye-ls = \
    ! git branch --remotes \
    | grep origin \
    | grep --invert-match HEAD \
    | grep --invert-match main \
    | grep --invert-match master \
    | sed 's/origin\\///g'
  bye = \
    ! git bye-ls \
    | xargs git push --dry-run --delete origin \
    && echo 'Use `git byebye` to delete them.'
  byebye = \
    ! git bye-ls \
    | xargs git push --delete origin

[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f

[merge]
	conflictstyle = diff3
